<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/shared/layout::dynamic(~{::title},~{::main})}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <title th:fragment="title">Trang chủ</title>
</head>
<body id="page-top">

<div th:fragment="main">
    <!-- DataTales Example -->
    <div class="card">
        <div class="card-body">
            <div class="table">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th><strong>Id</strong></th>
                            <th><strong>Name</strong></th>
                            <th><strong>Tác giả</strong></th>
                            <th></th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr th:each="p: ${list}" >
                            <td><strong th:text="${p.id}"></strong></td>
                            <td><strong th:text="${p.name}"></strong></td>
                            <td><strong th:text="${p.tg}"></strong></td>
                            <td>
                                <a th:href="@{|/admin/editPd/${p.id}|}"><strong>Edit</strong></a> |
                                <a th:href="@{|/admin/deletePd/${p.id}|}"><strong>Delete</strong></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>
