<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/shared/layout::dynamic(~{::title},~{::main})}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:fragment="title">Trang chủ</title>
    
    
</head>

<body>
    <main th:fragment="main">
    
    
    
    <div class="topic-area section-padding40">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-7 col-lg-8">
						<div class="section-tittle text-center mb-55">
							<h2>Các thể loại sách</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-4 col-sm-6"
						th:each="c, s: ${@categoryService.findAll()}">
						<div class="single-topic text-center mb-30">
							<div class="topic-img">
								<img th:src="@{|/assets/img/All/${c.photo}|}" alt="" >
								<div class="topic-content-box">
									<div class="topic-content">
										<h3>
											<a th:href="@{|/product/list-by-category/${c.id}|}"
												th:text="${c.name}" style="color:#FFFFFF;"></a>
										</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-xl-12">
						<div class="section-tittle text-center mt-20">
							
						</div>
					</div>
				</div>
			</div>
        		<div class="courses-area section-padding40 fix">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="section-tittle text-center mb-55">
							<h2 id="featured-courses">Các mặt hàng</h2>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12 col-md-12">

						<div class="dropdown">
							<div class="dropdown-select">
								<span class="select">Từ</span> <i
									class="fa fa-caret-down icon"></i>
							</div>
							<div class="dropdown-list">
								<div class="dropdown-list__item">
									<a style="color: black;" href="/product/sort-by-price">Từ
										cao đến thâp</a>
								</div>
								<div class="dropdown-list__item">
									<a style="color: black;" href="/product/sort-by-priceAsce">Từ
										thấp đến cao</a>
								</div>
								<div class="dropdown-list__item">
									<a style="color: black" href="/product/sort-by-price-100000">Từ
										đên 100000</a>
								</div>
								<div class="dropdown-list__item">
									<a style="color: black" href="/product/sort-by-price-200000">Từ
										100000 đên 200000</a>
								</div>
								<div class="dropdown-list__item">
									<a style="color: black" href="/product/sort-by-price-300000">Từ
										200000 đên 300000</a>
								</div>
								<div class="dropdown-list__item">
									<a style="color: black" href="/product/sort-by-price-400000">Từ
										lớn hơn 300000</a>
								</div>
							</div>
						</div>
					</div>

					<th:block th:each="p, rowStat : ${items}">
						<div class="col-lg-4 col-md-6" th:if="${p.available}">
							<div class="properties pb-20 course-item">
								<div class="properties__card">
									<div class="properties__img overlay1">
										<a th:href="@{|/product/detail/${p.id}|}"> <img
											th:src="@{|/assets/img/All/${p.image}|}" alt=""
											style="width: 100%; height: 100%;">
										</a>
									</div>
									<div class="properties__caption">
										<h3
											style="max-width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
											<a th:href="@{|/product/detail/${p.id}|}" th:text="${p.name}"></a>


										</h3>

										<div
											class="properties__footer d-flex justify-content-between align-items-center">
											<div class="restaurant-name">
												<div class="rating">
													<i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
														class="fas fa-star"></i> <i class="fas fa-star"></i> <i
														class="fas fa-star-half"></i>
												</div>
												<p>
													<span>(4.5)</span> Dựa trên 120
												</p>
											</div>
											<div class="price">
												<span th:text="${p.price}"></span>VNĐ
											</div>
										</div>
										<a th:href="@{|/cart/add/${p.id}|}"
											th:attr="disabled=${p.soluong == 0}"
											class="border-btn border-btn2">Thêm vào giỏ hàng</a>
									</div>
								</div>
							</div>
						</div>
					</th:block>
				</div>
			</div>
		</div>
		<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item" th:if="${currentPage>1}">
      <a class="page-link" th:href="@{'?pageNo='+${currentPage-1}}" tabindex="-1"><</a>
    </li>
    <li class="page-item" th:each="i:${#numbers.sequence(1,totalPage)}" th:classappend="${currentPage == i ? 'active' : ''}">
    	<a class="page-link" th:href="@{'?pageNo='+${i}}" th:text="${i}"></a>
    </li>
    <li class="page-item" th:if="${currentPage< totalPage}">
      <a class="page-link" th:href="@{'?pageNo='+${currentPage+1}}">></a>
    </li>
  </ul>
</nav>
        
    </main>
</body>
</html>